<p>vehicles works!</p>

<input type="text" placeholder="search"[(ngModel)]="term" >
<button class="green-button" (click)="filterVehicles()">search</button>
<table>
    <thead>
        <tr>
            <th>Vehicle</th>
            <th>manufacturer</th>
            <th>Model</th>
            <th>Type</th>
            <th>Fuel</th>
            <th>Color</th>
            <th>Image</th>
            <!-- <th>Cost</th>
            <th>Tyres</th> -->
            <th>Id</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vehicles">
            <td>{{vehicle.Vehicle}}</td>
            <td>{{vehicle.manufacturer}}</td>
            <td>{{vehicle.model}}</td>
            <td>{{vehicle.type}}</td>
            <td>{{vehicle.fuel}}</td>
            <td>{{vehicle.color}}</td>
            <!-- <td>{{vehicle.image}}</td> -->
             <td>
                <img [src]="vehicle.image" alt="" width="100px" height="100px">
             </td>
            <!-- <td>{{vehicle.cost}}</td>
            <td>{{vehicle.tyres}}</td> -->
            <td>{{vehicle.id}}</td>
            <th>
                <button class="red-button" (click)="deleteVehicle(vehicle.id)">delete</button>
            </th>

        </tr>
    </tbody>
</table>