<p>vehicles works!</p>

<input type="text" placeholder="search"[(ngModel)]="term" >
<button class="green-button" (click)="filterVehicles()">search</button>
&nbsp;&nbsp;

<label for="">Column:</label>
<select name="" id="" [(ngModel)]="column">
    <option value="color">Color</option>
    <option value="fuel">Fuel</option>
    <option value="model">Model</option>
</select>
&nbsp;&nbsp;

<label for="">Order:</label>
<select name="" id="" [(ngModel)]="order">
    <option value="asc">Ascending</option>
    <option value="desc">Descending</option>
</select>
<button class="green-button" (click)="sortVehicles()">sort</button>
<table>
    <thead>
        <tr>
            <th>Vehicle</th>
            <th>manufacturer</th>
            <th>Model</th>
            <th>Type</th>
            <th>Fuel</th>
            <th>Color</th>
            <th>Image</th>
            <!-- <th>Cost</th>
            <th>Tyres</th> -->
            <th>Id</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vehicles">
            <td>{{vehicle.Vehicle}}</td>
            <td>{{vehicle.manufacturer}}</td>
            <td>{{vehicle.model}}</td>
            <td>{{vehicle.type}}</td>
            <td>{{vehicle.fuel}}</td>
            <td>{{vehicle.color}}</td>
            <!-- <td>{{vehicle.image}}</td> -->
             <td>
                <img [src]="vehicle.image" alt="" width="100px" height="100px">
             </td>
            <!-- <td>{{vehicle.cost}}</td>
            <td>{{vehicle.tyres}}</td> -->
            <td>{{vehicle.id}}</td>
            <th>
                <button class="red-button" (click)="deleteVehicle(vehicle.id)">delete</button>
            </th>
        </tr>
    </tbody>
</table>

<button
    class="yellow-button"
    (click)="pageVehicles(i+1)"
    *ngFor="let page of [].constructor(10); let i=index"
>
{{i+1}}</button>